body {
    color: black;
    background-color: rgb(252, 238, 201);
}
ul{
display: flex;
justify-content: space-between;
list-style-type: none;
}

header{
font-style: italic;
border-radius: 50;
}

